
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.flexContainer {
    width: 535px;
    border-top: 1px solid #3b91ad;
    border-left: 1px solid #3b91ad;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.flexColumn {
    display: flex;
    width: 14.2857142857%;

    border-bottom: 1px solid #3b91ad;
    border-right: 1px solid #3b91ad;
    flex: 0 1 auto;
    justify-content: center;
    color: white;
    text-overflow: clip;
}

.day.inactive {
    background-color: #363636;
    color: ;
}

.day.today {
    background-color: #D16161;
}

.day .inner-grid {
    width: 100%;
    position:relative;
    text-align: center;
    height: 65px;
    justify-content: center;

}

.day .event-slot {
    position: relative;
    min-height: 5px;
    font-size: 14px;



}

.day .event-slot.event {
    background: #3b91ad;
    color: #3b91ad;
    white-space: nowrap;
    text-indent: -10000px;
    cursor: pointer;
    height: 30px;
    width: 75%;
    top: 5px;

}

.day .event-slot .event-title {
    position: absolute;
    top:(14px/2)/2;
    left:.5rem;
    z-index: 100;
    color: #fff;
    z-index:1;
    overflow:visible;
    text-indent: 0;
}

.day .event.event-first-day {
    margin-left: .5rem;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.day .event.event-last-day {
    margin-right: .5rem;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

.day .date {
    padding: .15rem .5rem;
    text-align: right;
    color: white;
}
